<div class="container">
    <div class="half">
        <a class="headerlink" routerLink="/rankings" routerLinkActive="active">The Rankings</a>    
        <a class="headerlink" routerLink="/about" routerLinkActive="active">About</a>
    </div>
   
    <div class="logoContainer">
        <img class="logo" src="../../assets/Rank Wing - Logo.svg" alt="">
    </div>
    <div class="half">
            <a class="headerlink" routerLink="/rankings-explained" routerLinkActive="active">How we rank</a>
            <a class="headerlink" routerLink="/recommendations" routerLinkActive="active">Recommendations</a>
    </div>
</div>
